{{outlet}}

<div class="container">
  <div class="row">
      {{#each model as |headline|}}
      <div class="col-md-3 col-sm-4 col-xs-6 img-holder">
        <div class="thumbnail">
          <p>{{headline.lead}}</p>
          <img src={{headline.pictureURL}}>
        </div>
      </div>
    {{/each}}
  </div>
</div>
